<!doctype html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
<body>

<h1>SISIFBA - Sistema Acadêmico</h1>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- ESQUERDA -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'home_sisifba' %}">Home</a>                  
        </li>                

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
            Módulo Aluno
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'aluno:cadastrar' %}">Cadastrar</a></li>            
            <li><a class="dropdown-item" href="{% url 'aluno:listar' %}">Listar</a></li>
          </ul>
        </li>              

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
            Módulo Professor
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'professor:home' %}">Cadastrar</a></li>
            <li><a class="dropdown-item" href="{% url 'professor:listar' %}">Listar</a></li>
          </ul>          
        </li>  

        {% if user.is_staff %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
            Módulo Admin
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'usuario:cadastrar' %}">Cadastrar Usuário</a></li>              
          </ul>          
        </li>  
        {% endif %}

      </ul>

      <!-- DIREITA -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
            Usuário {{ user.username }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="{% url 'login:logout' %}">Logout</a></li>            
          </ul>          
        </li>
      </ul>
    </div>
  </div> 
</nav>
{% for message in messages %}
  <div class="alert alert-{{ message.tags }}" role="alert">
    {{ message }}
  </div>
{% endfor %}
<hr>
{% block content %}
{% endblock %}
</body>
</html>


