<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    <h1>Edição de Alunos</h1>
    <hr>
    <form action="{% url 'update_aluno' aluno.id %}" method="post" class="form-control">
        {% csrf_token %} 
        <label>Nome</label>
        <br>       
        <input name="nome" id="nome" value = "{{aluno.nome}}" required = "true" placeholder="Informe o nome">
        <br>
        <label>email</label>
        <br>
        <input type="email" name="email" id="email" value = "{{aluno.email}}" placeholder="Informe um email válido">
        <br>
        <label>Sexo</label>
        <br>               
        <select id = "sexo" name="sexo" required>
            <option value="">Selecione um sexo</option>
                {% for sexo in sexos %}
                    <option value="{{ sexo.descricao }}" {% if sexo.descricao == aluno.sexo %}selected{% endif %}>
                        {{ sexo.descricao }}
                    </option>
                {% endfor %}

        </select>
        <br>
        <label>Telefone</label>
        <br>
        <input name="telefone" id="telefone" value = "{{aluno.telefone}}">
        <br>     
        <label>Endereço</label>
        <br>
        <input name="endereco" id="endereco" value = "{{aluno.endereco}}">
        <br>     
        <br>   
        <button type="submit" class="btn btn-success">Salvar</button>
        <button type="submit" a href="{% url 'home' %}" class="btn btn-danger">Cancelar</button>        
        <br>
    </form>
    <hr>    
</html>
